.card-properties{
    background-color: #fafafa;
    border:none !important;
    border-top: 2px solid  #ebebeb!important;
  }
  .accordion-header{
    background-color: #fafafa;
    border: none !important;
  }
  .accordion-header:focus{
    background-color: #222222;
  }
  .header-normal-properties{
    font-size: 14px;
    color: #222222;
    font-weight: bold;
    font-family: "Poppins";
  }
  .header-gradient-properties{
    font-size: 14px;
    background: -webkit-linear-gradient(90deg, #512fb7 20%, #9800cb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: "Poppins";
    text-align: center;
  }
  .accordion-content{
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
    font-family: "Poppins";
    padding:0px 50px 10px 21px;}
    